# Data Visualization using Python



Data visualization is a field in data analysis that deals with visual representation of data. It graphically plots data and is an effective way to communicate inferences from data.

Using data visualization, we can get a visual summary of our data. With pictures, maps and graphs, the human mind has an easier time processing and understanding any given data. Data visualization plays a significant role in the representation of both small and large data sets, but it is especially useful when we have large data sets, in which it is impossible to see all of our data, let alone process and understand it manually.

Python offers several plotting libraries, namely Matplotlib, Seaborn and many other such data visualization packages with different features for creating informative, customized, and appealing plots to present data in the most simple and effective way.

#### Using Colab

##Basic plotting in matplotlib

In [ ]:
#import matplotlib for 2D visulation
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns
#plt.style.use('seaborn-whitegrid')

import numpy as np
import pandas as pd

###Histograms

In [ ]:
data = np.random.randn(1000)

In [ ]:
data

In [ ]:
plt.hist(data);

The hist() function has many options to tune both the calculation and the display.

In [ ]:
var=dict(bins=15,
         alpha=0.6,
         histtype='bar',
         color='black',
         edgecolor='red')

In [ ]:
plt.hist(data, **var);

Comparing histograms of several distributions

In [ ]:
x1 = np.random.normal(0, 0.8, 1000)
x2 = np.random.normal(-2, 1, 1000)
x3 = np.random.normal(3, 2, 1000)

In [ ]:
kwargs = dict(histtype='stepfilled',
              alpha=0.5,
              density=True,
              bins=20)

plt.hist(x1, **kwargs)
plt.hist(x2, **kwargs)
plt.hist(x3, **kwargs);

## Visualizing some datasets with seaborn

####Iris dataset

In [ ]:
import sklearn
from sklearn import datasets

In [ ]:
# Load the iris dataset
iris = datasets.load_iris()

In [ ]:
# Load it to a pandas dataframe:
iris_df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['label'])

iris_df['label_names'] = iris_df['label'].apply(lambda x: iris.target_names[int(x)])

In [ ]:
iris_df.head(3)

In [ ]:
iris_df.tail()

In [ ]:
import seaborn as sns
df=sns.load_dataset('iris')
df.head()

In [ ]:
# Let's have a look at how the data looks like
display(iris_df)

In [ ]:
iris_df.shape

In [ ]:
iris_df.head()

In [ ]:
iris_df.tail()

In [ ]:
iris_df.shape

In [ ]:
iris_df.info()

In [ ]:
iris_df.head(3)

In [ ]:
plt.scatter(iris_df['petal length (cm)'], iris_df['sepal length (cm)'])

In [ ]:
# Visualize the data using Matplotlib
import matplotlib.pyplot as plt

colours = ['orange', 'blue', 'green']
species = iris.target_names

f = plt.figure(figsize=(12,6))

for i in range(0, 3):
    species_df = iris_df[iris_df['label'] == i]
    plt.scatter(
        species_df['petal length (cm)'],
        species_df['sepal length (cm)'],
        color=colours[i],
        alpha=0.5,
        label=species[i]
    )
plt.xlabel('petal length (cm)')
plt.ylabel('sepal length (cm)')
plt.title('Iris dataset: petal length vs sepal length')
plt.legend(loc='upper left')
plt.show()

In [ ]:
iris_df.head()

In [ ]:
# Visualize the data using Seaborn
# Matrix scatter plot.

import seaborn as sns

sns.set_style("darkgrid")
sns.pairplot(iris_df[iris.feature_names + ['label_names']], hue="label_names",height=2);

#### Cars dataset

## Data Preparation and Cleaning

Upload the dataset *car.csv* before running the following code snippets.

#### Import all dependencies

In [ ]:
%matplotlib inline
sns.set(color_codes=True)

In [ ]:
# load dataset from directory
cardf = pd.read_csv("Car_data.csv")

In [ ]:
cardf

In [ ]:
# display toop 5 rows
cardf.head()

In [ ]:
cardf.tail(5)

In [ ]:
cardf.shape

#### Check the dataType of all the columns of Dataset

In [ ]:
cardf.dtypes

In [ ]:
cardf.info()

#### Checking the number of rows and columns present

In [ ]:
cardf.shape

In [ ]:
cardf.describe()   ## gettign the details of all integer column from dataset like mean, median, avg, max,min etc

In [ ]:
cardf.Volume.mean()

#### Removed the duplicate rows, If any  and verify using shape function.

In [ ]:
df = cardf.drop_duplicates()

In [ ]:
df.shape

In [ ]:
cardf.count()

In [ ]:
cardf.shape

In [ ]:
cardf.head(5)

#### Rename the column from big column name to smaller name

In [ ]:
cardf.head(5)

In [ ]:
cardf = cardf.rename(columns={"Engine Fuel Type":"Fuel Type","Engine HP": "HP", "Engine Cylinders": "Cylinders", "Transmission Type": "Transmission", "Driven_Wheels":
                              "Drive Mode","highway MPG": "MPG-H", "city mpg": "MPG-C", "MSRP": "Price" })
cardf.head(10)

#### Removing the rows with null values/missing values from dataset

In [ ]:
cardf.info()

In [ ]:
cardf.shape

In [ ]:
cardf.count()

In [ ]:
print(cardf.isnull().sum())

In [ ]:
cardf = cardf.dropna()

In [ ]:
cardf.count()  ## Now every fields has values and all fields count are same.

In [ ]:
cardf.info()

In [ ]:
import matplotlib
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

## Exploratory Analysis and Visualization

In this Part we wil try to explore more about the data insigts. In previous part we have cleaned the data and now that clened processed data need to be analysed to gather some usefull info like mean, meadian and various relationship.

Find the top 40 Company and number of cars made by them . Visualize them using a bar plot.

In [ ]:
cardf.Make.value_counts().nlargest(5).plot(kind='bar', figsize=(10,5))
plt.title("Number of cars by Company (Make)")
plt.ylabel('Number of cars')
plt.xlabel('Company (Make)');

In [ ]:
plt.figure(figsize=(16,8))
plt1 = cardf.Make.value_counts().plot(kind='bar')
plt.title('Companies Histogram')
plt1.set(xlabel = 'Make', ylabel='Number of cars')

In [ ]:
cardf.head()

Explore the relationship between engine Size and prce of the cars

In [ ]:
plt.figure(figsize=(20,8))
plt.subplot(1,2,1)
plt.title('Car Price vs Engine Size plot ')
sns.regplot(x='HP',y='Price',data=cardf)

In [ ]:
plt.figure(figsize=(30,12))
plt.title('Car Price vs Engine Size plot ')
sns.regplot(x='MPG-H',y='Price',data=cardf)

Explore the dataset with respect to Company name, Vehicle size and Price of the car

Visualization the top 100 Make of cars based on their prices

In [ ]:
df=cardf.iloc[1:100]

In [ ]:
df4=cardf.iloc[100:]

In [ ]:
df4.head()

In [ ]:
plt.figure(figsize=(10,5))
sns.boxplot(x='Make',y='Price',hue='Vehicle Size',data=df)

#### Describe the relationship between Price and Vehicle Size

In [ ]:
sns.boxplot(x='Vehicle Size',y="Price",data=df) # box

We have plotted the multilpe graph with given daset to find the relationship between Fueltype , price and Avg price.

In [ ]:
plt.figure(figsize=(20,8))

plt.subplot(1,2,1)
plt.title('Fuel Type Histogram')
sns.countplot(y=cardf['Fuel Type'], palette=("Blues_d"))

plt.subplot(1,2,2)
plt.title('Fuel Type vs Price')
sns.boxplot(x=df['Fuel Type'], y=df.Price, palette=("PuBuGn"))

plt.show()

df2 = pd.DataFrame(df.groupby(['Fuel Type'])['Price'].mean().sort_values(ascending = False))
df2.plot.bar(figsize=(8,6))
plt.title('Fuel Type vs Average Price')
plt.show()

#### Derive a relationship between the price of car and number of doors present in the car.

In [ ]:
plt.subplot(1,2,1)
plt.title('Door Number Histogram')
sns.countplot(df['Number of Doors'], palette=("plasma"))

plt.subplot(1,2,2)
plt.title('Door Number vs Price')
sns.boxplot(x=df['Number of Doors'], y=df.Price, palette=("plasma"))
plt.tight_layout(pad=2)

plt.show()