Q. Declare a float value and store it in a variable. 
Check the type and print the id of the same.

In [1]:
float_val1 = 12.3
print(float_val1, type(float_val1), id(float_val1))

12.3 <class 'float'> 1947188505744

In [ ]:
Q. Arithmetic Operations on float 
Take two different float values. 
Store them in two different variables. 
Do below operations on them:- 
   Find sum of both numbers 
   Find difference between them 
   Find the product of both numbers. 
   Find value after dividing first num with second number 
   Find the remainder after dividing first number with second number 
   Find the quotient after dividing first number with second number 
   Find the result of the first num to the power of the second number.

In [17]:
float_val1 = float(input('Enter a number with decimal point:'))
float_val2 = float(input('Enter another number with decimal point:'))
print(float_val1, type(float_val1), id(float_val1))
print(float_val2, type(float_val2), id(float_val2))
print('---------Results--------')
print(f'sum of both numbers {float_val1},{float_val2} is:',float_val1+float_val2)
print(f'difference between them {float_val1},{float_val2} is:',float_val1-float_val2)
print(f'the product of both numbers {float_val1},{float_val2} is:',float_val1*float_val2)
print(f'after dividing first num with second number {float_val1},{float_val2} is:',float_val1/float_val2)
print(f'remainder after dividing first number with second number {float_val1},{float_val2} is:',float_val1%float_val2)
print(f'quotient after dividing first number with second number {float_val1},{float_val2} is:',float_val1//float_val2)
print(f'result of the first num to the power of the second number {float_val1},{float_val2} is:',float_val1**float_val2)

Enter a number with decimal point: 56.3
Enter another number with decimal point: 3.2

56.3 <class 'float'> 1947189790800
3.2 <class 'float'> 1947188505584
---------Results--------
sum of both numbers 56.3,3.2 is: 59.5
difference between them 56.3,3.2 is: 53.099999999999994
the product of both numbers 56.3,3.2 is: 180.16
after dividing first num with second number 56.3,3.2 is: 17.593749999999996
remainder after dividing first number with second number 56.3,3.2 is: 1.8999999999999941
quotient after dividing first number with second number 56.3,3.2 is: 17.0
result of the first num to the power of the second number 56.3,3.2 is: 399601.27341115644

In [ ]:
Q. Comparison Operators on float 
Take two different float values. 
Store them in two different variables. 
Do below operations on them:- 
   Compare these two numbers with below operator:- 
       Greater than, '>' 
 Smaller than, '<' 
 Greater than or equal to, '>=' 
 Less than or equal to, '<=' 
Observe their output(return type should be boolean)

In [6]:
float_val1 = float(input('Enter a number with decimal point:'))
float_val2 = float(input('Enter another number with decimal point:'))
print(float_val1, type(float_val1), id(float_val1))
print(float_val2, type(float_val2), id(float_val2))
print('---------Results--------')
print("Greater than, '>'",float_val1>float_val2)
print("Smaller than, '<'",float_val1<float_val2)
print("Greater than or equal to, '>='",float_val1>=float_val2)
print("Less than or equal to, '<=' ",float_val1<=float_val2)

Enter a number with decimal point: 2
Enter another number with decimal point: 3

2.0 <class 'float'> 1947188503888
3.0 <class 'float'> 1947188497840
---------Results--------
Greater than, '>' False
Smaller than, '<' True
Greater than or equal to, '>=' False
Less than or equal to, '<='  True

In [ ]:
Q. Equality Operator 
Take two different float values. 
Store them in two different variables. 
Equate them using equality operators (==, !=) 
Observe the output(return type should be boolean)

In [7]:
float_val1 = float(input('Enter a number with decimal point:'))
float_val2 = float(input('Enter another number with decimal point:'))
print(float_val1, type(float_val1), id(float_val1))
print(float_val2, type(float_val2), id(float_val2))
print('---------Results--------')
print('Equate them using equality operators ==',float_val1==float_val2)
print('Equate them using equality operators !=',float_val1!=float_val2)

Enter a number with decimal point: 3
Enter another number with decimal point: 6

3.0 <class 'float'> 1947188505584
6.0 <class 'float'> 1947188506032
---------Results--------
Equate them using equality operators == False
Equate them using equality operators != True

In [8]:
# Q. Logical operators 
# Observe the output of below code 
# Cross check the output manually 
 
print(10.20 and 20.30)       #both are true and second value taken 
# >Output is 20.3 
 
print(0.0 and 20.30)         #First is false so first value 
# taken->Output is 0.0 
 
print(20.30 and 0.0)         #Goes to till second and second value is 
# false so second is taken>Output is 0.0 
 
print(0.0 and 0.0)           #First is false so first value is 
# taken->Output is 0.0 
 
print(10.20 or 20.30)        #First is True so first value is 
# taken>Output is 10.2 
 
print(0.0 or 20.30)          #Goes to till second and second is true 
# second value is taken->Output is 20.3 
 
print(20.30 or 0.0)          #First is True so first value is 
# taken->Output is 20.3 
 
print(0.0 or 0.0)            #Goes to till second and second is also 
# false and second value is taken>Output is 0.0 
 
print(not 10.20)             #-Not of true is false->Output is False 
 
print(not 0.0)               #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [ ]:
Q. What is the output of expression inside print statement. Cross check 
before running the program. 
a = 10.20 
b - 10.20 
print(a is b)          #True or False? True 10.20<256 
print(a is not b)      #True or False? False 
Why the Id of float values are different when the same value is 
assigned to two different variables 
ex: a = 10.5 b=10.5. but id will be same if I assign the variable 
having float i.e. a=c then both a and c's Id are same

In [11]:
a = 10.20 
b = 10.20 
print(id(a))
print(id(b))
c = a
print(id(c))
print(a is b)          #True or False? True 10.20<256 
print(a is not b)

1947188502704
1947189789936
1947188502704
False
True

In [ ]:
Q. Bitwise operation is not applicable between instances of float. 
Why the Id of float values are different when the same value is 
assigned to two different variables 
ex: a = 10.5 b=10.5. but id will be same if I assign the variable 
having float i.e. a=c then both a and c's Id are same 
Object reusability concept is not applicable on float values.

In [13]:
# Q. Membership operation 
# in, not in are two membership operators and it returns boolean value 
print('2.7' in 'Python2.7.8')              #True 
print(10.20 in [10,10.20,10+20j,'Python']) #True 
print(10.20 in (10,10.20,10+20j,'Python')) # True 
print(20.30 in {1,20.30,30+40j})           # True 
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True 
print(10 in range(20))                     # True

True
True
True
True
True
True